<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!--todo make title a binding-->
    <title>Legislative Simulation</title>

    <!--Web-compnents pollyfill-->
    <!--todo Identify and grab only the used polymer components(when finished with app), right now they all come in for ease of use, but has a big footprint(can reduce bower core and paper elements)-->
    <!--todo use vulcanize with gulp to process polymer to production code-->
    <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="bower_components/core-elements/core-elements.html">
    <link rel="import" href="bower_components/paper-elements/paper-elements.html">


    <script defer src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <!-- Stylesheets -->
    <link rel="stylesheet" media="screen" href="css/xsmall.css">
    <link rel="stylesheet" media="screen and (min-width:30em)" href="css/small.css">
    <link rel="stylesheet" media="screen and (min-width:48em)" href="css/medium.css">
    <link rel="stylesheet" media="screen and (min-width:64.0625em)" href="css/large.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

    <!--todo add redirect page for anything < ie9-->
    <!-- add redirect?? --> <!--[if lte IE 8]><script type="text/javascript">window.location = "redirect.html";</script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->


</head>
<body fullbleed layout vertical ng-controller="HomeController">
<core-drawer-panel responsiveWidth="1024px">
    <!--Main Navigation-->
    <core-header-panel drawer>
        <core-toolbar>Menu</core-toolbar>
        <core-menu>
            <core-item label="Introduction"><a href="#/intro/intro"></a></core-item>
            <core-item label="Situation"><a href="#/intro/situation"></a></core-item>
            <core-item id="abtYou" label="About You" onclick="openDialog(event)" class="core-item"></core-item>
            <core-item id="abtDistrict" label="About District" onclick="openDialog(event)" class="core-item"></core-item>
            <core-item id="abtAppropriations" label="About Appropriations" onclick="openDialog(event)" class="core-item"></core-item>
            <core-item id="abtStaff"label="About Staff" onclick="openDialog(event)" class="core-item"></core-item>
        </core-menu>
    </core-header-panel>

    <!--Main Header-->
    <core-header-panel mode="waterfall" main>
        <core-toolbar class="main" ng-controller="StageController">
            <a ng-href="{{ progress.previous }}"><paper-icon-button icon="chevron-left" ></paper-icon-button></a>
            <div><a class="mainTitle" href="#/">Legislation Simulator</a></div><span flex><span class="navInstructions" ng-show="navDisabled">You must make a decision below to proceed.</span></span>
            <a ng-href="{{ progress.next }}"  ng-disabled="navDisabled"><paper-fab  class="nextButton" mini icon="chevron-right"></paper-fab></a>
            <paper-icon-button id="navicon" icon="menu" core-drawer-toggle></paper-icon-button>
            <paper-progress class="top fit" value="{{ progress.value }}"></paper-progress>
        </core-toolbar>

        <!--Main View (pulls in template - determined in app.js)-->
        <div ng-view class="view"></div>

    </core-header-panel>
</core-drawer-panel>

<paper-dialog id="abtStaffModal" class="size-position">
  <div class="abt-staff">
    <h1>{{ about.abtStaff.header }}</h1>
    <h2>{{ about.abtStaff.body.title }}</h2>
    <div class="candidateCont" ng-repeat="can in about.abtStaff.body.candidates">
        <img ng-src="{{ can.imgUrl }}" alt="{{ can.imgAlt }}">
        <h3>{{ can.name }}</h3>
        <p>{{ can.info }}</p>
    </div>
  </div>
</paper-dialog>

<paper-dialog id="abtYouModal" class="size-position">
  <div class="abt-you">
      <h1>{{ about.abtYou.title }}{{ about.abtYou.name }}</h1>
      <img ng-src="{{ about.abtYou.images[0].url }}" alt="{{ about.abtYou.images[0].alt }}">
      <p>{{ about.abtYou.body.p1 }}</p>
      <p>{{ about.abtYou.body.p2 }}</p>
      <p>{{ about.abtYou.body.p3 }}</p>
      <p>{{ about.abtYou.body.p4 }}</p>
  </div>
</paper-dialog>

<paper-dialog id="abtDistrictModal" class="size-position">
  <div class="abt-district">
      <h1>{{ about.abtDistrict.header }}</h1>
      <img ng-src="{{ about.abtDistrict.images[0].url }}" alt="{{ about.abtDistrict.images[0].alt }}">
      <p>{{ about.abtDistrict.images[0].name }}</p>

      <p>{{ about.abtDistrict.body.p1 }}</p>
      <p>{{ about.abtDistrict.body.p2 }}</p>
      <p>{{ about.abtDistrict.body.p3 }}</p>
      <p>{{ about.abtDistrict.body.p4 }}</p>
      <p>{{ about.abtDistrict.body.p5 }}</p>
  </div>
</paper-dialog>

<paper-dialog id="abtAppropriationsModal" class="size-position">
  <div class="abt-appropriations">
      <h1>{{ about.abtAppropriations.header }}</h1>
      <h2>{{ about.abtAppropriations.body.title }}</h2>
      <div class="candidateCont" ng-repeat="can in about.abtAppropriations.body.candidates">
          <img ng-src="{{ can.imgUrl }}" alt="{{ can.imgAlt }}">
          <h3>{{ can.name }}</h3>
          <p>{{ can.info }}</p>
      </div>
  </div>
</paper-dialog>

<script type="text/javascript">
function openDialog(e) {
  var dialog;
  switch (e.target.id) {
      case 'abtYou'://set model and view
          dialog = document.getElementById("abtYouModal");
          if (dialog) {
            dialog.open();
          }
          break;
      case 'abtDistrict'://set model and view
          dialog = document.getElementById("abtDistrictModal");
          if (dialog) {
            dialog.open();
          }
          break;
      case 'abtAppropriations'://set model and view
          dialog = document.getElementById("abtAppropriationsModal");
          if (dialog) {
            dialog.open();
          }
          break;
      case 'abtStaff'://set model and view
          dialog = document.getElementById("abtStaffModal");
          if (dialog) {
            dialog.open();
          }
          break;
    }
  }
</script>

<!--angular scripts-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-sanitize.min.js"></script>

<!--d3 scripts-->
<script data-require="d3@*" data-semver="3.3.11" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
<script type="text/javascript" src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>


<!--custom scripts-->
<!--todo run through gulp and combine/minify -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>

</body>
</html>
