<div class="effectiveness">
    <h1>{{ content.header }}</h1>
    <div class="restatedGoals">
        <p>{{ content.body.p1 }}</p>
        <div ng-repeat="goal in content.body.goals">
            <p><strong>{{ goal.letter }}) {{ goal.entry }}</strong></p>
        </div>
        <div>
        <div
            ac-chart="'bar'"
            ac-data="goalData"
            ac-config="config"
            class="chart">
          </div>
        <div class="goalResults">
        <h2>Analyst's Comments</h2>
        <p>A)  {{effLegYear}}</p>
        <p>B)  (See the following page)</p>
        <p>C)  {{effRespect}}</p>
        <p>D)  {{effFamily}}</p>
        </div>
      </div>
    </div>
    <paper-button raised class="effectivenessButton" ng-click="evalGoals()">Show Goal Analysis</paper-button>
</div>
