<div class="intro">
    <h1>{{ content.header }}</h1>
    <div>
        <p>{{ content.body.p1 }}</p>
        <div ng-repeat="goal in content.body.goals">
            <p><strong>{{ goal.letter }}) {{ goal.entry }}</strong></p>
            <p>{{goal.result}}</p>
        </div>
        <h2>Analyst's Comments</h2>
        <p>{{ content.body.p2 }}</p>
        <p>{{ content.body.p3 }}</p>
        <p>{{ content.body.p4 }}</p>
        <p>{{ content.body.p5 }}</p>
        <p>{{ content.body.p6 }}</p>
        <p>{{ content.body.p7 }}</p>
        <p>{{ content.body.p8 }}</p>
        <p>{{ content.body.p9 }}</p>
    </div>
    <paper-button></paper-button>
</div>
