<div class="work-organizer">
    <div class="titleCont work-organizer">
        <h1>{{ content.header }}</h1>
    </div>
    <div class="informArea">
        <p>{{ content.date }},  {{ content.stage }}</p>
    </div>

    <div class="actionArea">
        <div ng-repeat="situation in content.body.situations ">

            <input type="checkbox" ng-model="checkbox.answer" ng-change="checkChanged(checkbox, situation.name ,situation.entry, situation.response)" ng-disabled="checked==limit && !checkbox.answer">
            <div verticle layout>
                <p>{{ situation.entry }}</p>
            </div>
        </div>
    </div>
</div>