# Directories
node_modules
docs
coverage
bower_components

# OS and IDE specific
.DS_Store
.idea

# Dev environment configuration
config/env.development.js

# logs
npm-debug.log
logs/*.log

# OpenSSL stuff
openssl.cnf
*.crt
*.key

# Redis
dump.rdb

# git stats
gitinspector-0.3.2/*