core-toolbar {
    background: #333;
    color: #fff;
}

[main]{
    background: #ddd;
}

[drawer]{
    background:#eee;
    color:#333;
}


.mainTitle{
    text-decoration: none;
    color: #fff;
}
.mainTitle:hover{
    text-decoration: none;
    color: #fff;
}
.mainTitle:visited{
    text-decoration: none;
    color: #fff;
}
.view{margin:2%;}

.situationContainer{background: #aaa; margin:2%;padding:10px;}

core-header-panel a:link, core-header-panel a:visited{color:#fff;}
core-header-panel a:hover{color:#aaa;}

paper-fab::shadow #ripple {
    color: white;
}
paper-fab{background: green;}
